.Into__title {
  color: #717dab;
  font-family:"alfa","Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: normal;
}
