.Navigate {
    display: flex;
    gap :20px
}

@media screen and (max-width:1000px) {
    .Navigate{
        gap: 10px;
    }
}
@media screen and (max-width:680px) {
    .Navigate{
        flex-direction: column;
        gap: 30px;
    }
}