.button__text{
        font-size: 26px;
        color :white;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        backdrop-filter: blur(2px);
}