.header__header-user{
    max-width: 250px;
    min-height: 910px;
    flex-direction: column;
    background-color: #000000;
    grid-area: header;
}

@media screen and (max-width:680px) {
    .header__header-user{
        min-height: 500px;
        min-width: 250px;
        padding-bottom:30px ;
        border-radius: 0 0 10% 10% ;
        border: 2px solid rgb(255, 255, 255);

    }
}