.Into__text {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style:italic;
  font-weight: 500;
  line-height:initial;
  letter-spacing: 2.34px;
}

@media screen and (max-width:1200px) {
 .Into__text{
  font-size: 28px;
 } 
}
@media screen and (max-width:1000px) {
 .Into__text{
  font-size: 24px;
 } 
}
@media screen and (max-width:580px) {
 .Into__text{
  font-size: 20px;
 } 
}